@{
    //Layout = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Login";
}

<form method="post" action="/home/login">
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" name="email" value="" class="form-control" id="email" placeholder="Digite o seu E-mail">
        @Html.ValidationMessage("email")
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="text" name="senha" value="" class="form-control" id="senha" placeholder="Digite a senha">
        @Html.ValidationMessage("senha")
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
@ViewBag.Mensagem

